html{
    background-color: f9f9f9;
}
a{
	text-decoration: none;
    color: 0000FF;
}
p{
    text-align: center;
}
.header{

}
section {
	text-align: center;
}
h1{
	font-family: 'Lato', sans-serif;
}
h4{
	font-family: cursive;
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: 10px;
    text-align: center;
}
.near{
    position: absolute;
    margin-left: 78%;
    margin-top: -55px;
}
.near1{
    margin-left: 10px;
}
.form1{
    text-align: center;
}
.searchbar{
    height: 38px;
    width: 750px;
    border-style: groove;
    font-weight: 500;
    font-size: 16px;
    padding-left: 44px;
    background-image: url(img/search.png);
    background-repeat: no-repeat
}
.search{
    height: 38px;
    width: 146px;
    font-size: 16px;
    font-weight: 500;
    border-style: groove;
    background-color: 14ACF2;
}
.input{
	text-align: left;
	font-size: 30px;
    font-family: cursive;
}
.submit{
	background-color: 14ACF2;
}
.out{
    border: 1px solid rgba(0,0,0,.2);
    height: 145px;
    width: 650px;
    margin-left: 330px;
}
.pics{
    /*border-style: groove;*/
    border: 1px solid rgba(0,0,0,.2);
    width: 120px;
    height: 140px;
}
.name{
    /*border-style: groove;*/
    border: 1px solid rgba(0,0,0,.2);
    margin-left: 130px;
    height: 100;
    position: absolute;
    width: 500px;
}
.addr{
    /*border-style: groove;*/
    border: 1px solid rgba(0,0,0,.2);
    position: relative;
    height: 35px;
    width: 503px;
    margin-left: 130px;
    top: -40px;
}

